/* BIODATA */
body{
  background: #f3f3f3;
}
.card{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow:visible;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}
.card img{ 
  position:relative;
  display: block;
  margin: auto;
  width: 180px;
  z-index: 1;
  margin-top: 10px;
}
.card-footer .socmed img{
  text-align: center;
  padding-bottom: 20px;
  width: 35px;
}
.socmed p{
  font-size: 20px;
  color: darkgray;
}
